<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <!-- Recipe Name -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <!-- Recipe Image URL -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imgPath>
          </div>
        </div>
      </div>
      <!-- Recipe Image preview -->
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgPath.value" alt="" class="img-responsive" style="width:300px; height:300px;">
        </div>
      </div>
      <!-- Recipe Description -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              row="6">
            </textarea>
          </div>
        </div>
      </div>
      <!-- Recipe Ingredients -->
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row"
            *ngFor="let ingredientControl of controls; let i=index"
            [formGroupName]="i"
            style="margin-top:10px">
            <!-- ingredient name -->
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <!-- ingredient amount -->
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount">
            </div>
            <!-- delete ingredient button -->
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
