<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="page_select === 'recipe'"></app-recipes> -->
      <!-- <app-shopping-list *ngIf="page_select === 'shopping-list'"></app-shopping-list> -->
    </div>
  </div>
</div>
