<nav class="navbar navbar-default">
  <div class="contniner-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li appDropdown class="dropdown">
          <a style="cursor:pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor:pointer;" (click)="onFetchData()">Fetch Data</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
