<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
    <!-- <app-recipe-detail *ngIf="selectedRecipe !== undefined; else infotext"  [selectedRecipe]="selectedRecipe"  ></app-recipe-detail>
    <ng-template #infotext>
      <p>Please select a recipe!</p>
    </ng-template> -->
  </div>
</div>
